$color-pink: #F15A61
$color-purple: #7A2F5A
$color-accent: $color-purple

$font-servus: "servus-slab", serif
$font-interstate: "interstate", sans-serif

$heading-font-family: $font-servus
$body-font-family: $font-interstate

$header-background: none
$header-border-bottom-width: 0
$header-logo-height-desktop: 60px
$hero-background-color: none
$footer-color: white
$footer-logo-height-desktop: 100px
$footer-background-color: $color-pink