$color-pink: #F15A61
$color-purple: #7A2F5A
$color-accent: $color-purple

$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$header-logo-height-desktop: 60px
$hero-background-color: none
$footer-color: white
$footer-logo-height-desktop: 100px
$footer-background-color: $color-pink