$color-pink: #EA515A
$color-prune: #792958
$color-green: #195040
$color-blue: #003851
$color-beige: #EEEDE7
$color-brown: #DBD4C8

$color-accent: $color-blue
$color-background-alt: $color-beige

$font-servus: "servus-slab", serif
$font-interstate: "interstate-hairline", sans-serif

$heading-font-family: $font-servus
$body-font-family: $font-servus
$body-background: $color-beige
$h1-line-height: 110%
$h1-size-desktop: pxToRem(50)
$h2-size: pxToRem(20)
$h2-weight: bold
$h2-size-desktop: pxToRem(24)
$h2-text-transform: uppercase
$h2-size-desktop: pxToRem(24)
$h2-font-family: $font-interstate
$h3-size-desktop: pxToRem(26)
$h5-font-family: $font-interstate
$h5-weight: bold
$h6-font-family: $font-interstate
$meta-font-family: $font-interstate

$header-background: none
$header-border-bottom-width: 0
$header-logo-height: 50px
$header-logo-height-desktop: 60px
$hero-background-color: white
$footer-color: white
$footer-logo-height-desktop: 100px
$footer-background-color: var(--color-accent)
$block-space-y-desktop: space(40)
$block-key_figures-number-font-family: $font-interstate