\:root
    .page-green
        --color-accent: #{$color-green}
    .page-pink
        --color-accent: #{$color-pink}
    .page-prune
        --color-accent: #{$color-prune}

.block
    &.block-class-green
        .block-title
            a
                color: $color-green
    &.block-class-pink
        .block-title
            a
                color: $color-pink
    &.block-class-prune
        .block-title
            a
                color: $color-prune
        