\:root
    .page-green,
    .category-green
        --color-accent: #{$color-green}
    .page-pink,
    .category-pink
        --color-accent: #{$color-pink}
    .page-prune,
    .category-prune
        --color-accent: #{$color-prune}

.block
    &.block-class-green
        .block-title,
        .project-title
            a
                color: $color-green !important
    &.block-class-pink
        .block-title,
        .project-title
            a
                color: $color-pink !important
    &.block-class-prune
        .block-title,
        .project-title
            a
                color: $color-prune !important
