@keyframes parallax
    from
        transform: translate(0, 0)
    to
        transform: translate(0, -800px)
.page__home
    .hero
        @include media-breakpoint-up(desktop)
            z-index: -1
            .container
                .content
                    display: block
                    .hero-text
                        position: relative
                        z-index: 10
                        filter: drop-shadow(0 0 10px white) drop-shadow(0 0 10px white) drop-shadow(0 0 10px white) drop-shadow(0 0 10px white)
                    figure
                        width: 100%
                        position: absolute
                        z-index: 1
                        top: 0
                        right: 0
                        pointer-events: none
                        animation: parallax linear
                        animation-timeline: scroll()
