.projects__page
    .hero
        .content
            .hero-text
                p
                    @include h5
            @include media-breakpoint-up(desktop)
                .hero-text
                    width: columns(8)
                figure
                    width: columns(4)
        .dropdown-share
            position: relative
    .project-sidebar
        .project-infos
            .year,
            .reading-time,
            .social-share
                display: none !important
            .taxonomies-single.with-label
                > li.terms
                    border-top: none !important
                    display: block
                    .taxonomy-title
                        display: block
                        margin-bottom: $spacing-1
                    .taxonomy-children
                        text-align: left !important
                        li
                            margin-left: 0
                            a
                                color: $color-text
                                display: inline
        .toc-container
            border-top: none !important
.projects
    &--grid
        @include media-breakpoint-up(desktop)
            grid-template-columns: repeat(3, 1fr)
.project
    .project-content
        .project-title
            a
                color: var(--color-accent)
        .project-subtitle
            color: $color-text
            font-weight: normal
        .project-summary
            @include h6
    .project-meta
        .project-categories
            display: block
            li
                margin-bottom: space(2)
                a
                    display: inline
                    color: $color-text
    .media
        img
            aspect-ratio: 16/9
.projects_categories__term
    h1
        font-family: $font-interstate
