.section-taxonomies-container
    margin-top: 0 !important
    .taxonomies-list
        margin-top: 0 !important
        .dropdown
            > button
                background: $color-background-alt
                margin-right: 0