.hero
    .content
        h1
            color: var(--color-accent)
            > span
                @include lead
                color: $color-text
                margin-top: $spacing-2
h2
    color: var(--color-accent)